
#tabs
{
    background-color: rgba(238, 130, 238, 0) !important;
    top: 50px;
    color: red !important;
    display: flex 40px ;
    height: 200px;
}
 
ul {
    margin: 0;
    padding: 0.2em 0.2em 0;
    background-color: black !important;
    

}
.breadcrumb
{
    background-color: gray !important   ;
   
    border-radius: 10px !important;
     
}
.form-signin-heading
{
    
}
.style1 
{
   
}
#ContentPlaceHolder1_TextBox3 
{
    background-color: gray !important;
    color: white !important;
}
#ContentPlaceHolder1_TextBox3::placeholder
{
    color: white !important;
}
input[name="ctl00$ContentPlaceHolder1$Button3"]   {
    border: solid 5px #646464 !important;
    color: white !important;
    transition: 0.5s;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 10px !important;
    background-color: #27282c !important;
    font-weight: bold !important;
    box-shadow: 0 0 35px #000000;
    z-index: 100    ;
}
input[name="ctl00$ContentPlaceHolder1$Button3"]:hover
{
    letter-spacing: 0.25em;
    border-color: #FF3131 !important;
    color: #FF3131 !important;
    box-shadow: 0 0 35px #FF3131;
    background-color: #474747 !important;
}
table
{
    background-color: black !important;
}
.ui-tabs{
    background:     linear-gradient(#be0202, #a30000, #be0202);
    width: 1200px;
    height: 1000px;
    position: absolute;
    border: solid 3px white !important;
    border-radius: 20px;
   
}
.ui-tabs-nav
{
    position: relative;
    top: -5px;
    height: 0px;
    background-color: purple !important;
    width: 1190px;
}
.ui-tabs-nav::before,.ui-helper-reset::before,.ui-helper-clearfix::before,.ui-widget-header::before,.ui-corner-all::before
{
    background-color: green !important;
}
.col-sm-3 >.well-lg
{
    background-color: white !important;
    border: solid 5px black !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.text-muted
{
    color: white !important;
    font-weight: bold;
}
.form-signin-heading
{
    font-weight: bold;
    font-size: 3em;
    -webkit-text-stroke: 1px rgb(255, 0, 0);

}
#ContentPlaceHolder1_Label7
{
    color: black;
    font-style: normal !important;
    text-transform: uppercase !important;
}
#ContentPlaceHolder1_ButtonEtudiant
{
    border: solid 5px #aa0c0c !important;
    color: white !important;
    transition: 0.5s;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 10px !important;
    background-color: #27282c !important;
    font-weight: bold !important;
    box-shadow: 0 0 35px #000000;
    
}
#ContentPlaceHolder1_ButtonEtudiant:hover
{
    letter-spacing: 0.25em;
    border-color: #FF3131 !important;
    color: black !important;
    box-shadow: 0 0 35px #FF3131;
    background-color: #474747 !important;
}
.ui-tabs-nav ,.ui-tabs-nav ,.ui-helper-reset ,.ui-helper-clearfix ,.ui-widget-header, .ui-corner-all
{
    background-color: red;
}
.ui-tabs-anchor
{
    text-align: center;
    width: 290px;
    position:static;
    top: -048px;
    color: white !important;
    background-color: #051923 !important;
    border-top-left-radius: 5px;
    padding: 0px;
    transition: 0.5s;
    border-bottom: #000000 solid 2px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.ui-tabs-anchor:hover
{
    background-color: #FF3131 !important;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
span#Label1
{
    color: white !important;
    font-weight: bold !important;
    font-size: 3em  !important;
}
center
{
    border-radius: 10px ;
}
#ImageButton1
{
    background-color: white !important;
    margin: -10px !important;
    width: 200px;
}
span#ANNEEUN
{
    color: white !important;
    background-color: #a30000 !important;
    font-size: large;
    padding: 3px !important;
    border-radius: 10px;
}
#form1
{
}