body {
  width: 500px;
  height: 600px;
  overflow: hidden; /* Hide scrollbars */
  margin: 0px;
  background: linear-gradient(#180002, #2d0006, #180002);
  font-family:"Calibri (Body)";
}

::-webkit-scrollbar {
  display: none;
  
}
.header {
  width: 500px;

  height: 150px;
  background: linear-gradient(#be0202, #a30000, #be0202);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;

  flex-direction: column;
  flex: 1 100px;
}
.header img {
  width: 200px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
#emploie {
  width: 500px;
  height: 448px;
  scrollbar-width: none !important;
}
#calender {
  position: absolute;
  left: 20px;
}
body table {
  width: 500px;
  padding-top: 30px;
}
#icon {
  width: 50px;
  transform: 0.5s;
}
#icon:hover {
  background-color: #ff6663;
  padding: 10px;
  transition: 1s;
}
#icon {
  transform: translate(-50%, -50%);
  border: 2px solid white;
  text-decoration: none;
  transform: 1s;
  padding: 10px;
}
#preloader {
  background: linear-gradient(#be0202, #a30000, #be0202);
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: 101;
  align-items: center;
  justify-content: center;
}
#fulllogo {
  background-color: white;
  border: #3f0000 solid 3px;
  border-radius: 25px;
  animation: 1s woop ease-in-out;
  width: 200px;
}
@keyframes woop {
  0% {
    width: 0px;
  }
  50% {
    width: 190px;
  }
  70% {
    width: 175px;
  }
  100% {
    width: 200px;
  }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F3A19A;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff3835;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff3835;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
h2
{
    color:white;
    text-decoration: none;
   font-size: 30px;
   font-family: "Gill Sans", sans-serif;
}  
  
