
tbody
{
    border: solid 10px #051923;
    border-radius: 10px !important;
}
.shine
{
    animation: last infinite 2s ;
        padding: 3px;
        border-radius: 3px;        
        padding:  3px;
        color: white;
        font-weight: bold;  
        margin-right: 5px;
}
@keyframes last
{
    0%
    {
        background-color: #CC0000;
    }
    50%
    {
        background-color: #F00020;
        box-shadow: #F00020 0px 0px 0px 2px ;
    }
    100%
    {
        background-color: #CC0000;
    }
}
.download
{
    background-color: white;
    transition:  0.4s ease-in-out;
    padding: 0px !important;
    width: 200px;
    transition:   0.2s ease-in-out;
}
.download:hover  
{
    color: white !important;
    background-color: #F00020 !important;
}
.download a
{
    text-decoration: none;
    color: black;
    transition:   0.4s ease-in-out;
}
.download:hover > a
{
    color: white !important;
    background-color: #F00020 !important;
    letter-spacing: 0.09em !important; 
    text-decoration: none !important;
}

.apercu
{
    background-color: white;
    transition:  0.4s ease-in-out;
    padding: 0px !important;
    width: 200px;
    transition:   0.2s ease-in-out;
}
.apercu:hover  
{
    color: white !important;
    background-color: #F00020 !important;
}
.apercu a
{
    text-decoration: none;
    color: black;
    transition:   0.4s ease-in-out;
}
.apercu:hover > a
{
    color: white !important;
    background-color: #F00020 !important;
    letter-spacing: 0.09em !important; 
    text-decoration: none !important;
}
.shadow
{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

